<div class="wrapper navbar navbar-dark bg-dark">

    <div class="one">

      <app-menu></app-menu>
    </div>
  <div class="two">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
    <div class="tree">
      <div *ngIf="!loggato; else logoutButton">
        <app-login></app-login>
      </div>
      <ng-template #logoutButton >
        <div class="logout">
          <span id="name"> Ciao {{name}} </span>
        <button class="btn btn-primary" (click)="logout()">Log out</button>
        </div>
      </ng-template></div>


</div>

