<div class="wrapper navbar navbar-dark bg-dark">

    <div class="one">

      <app-menu></app-menu>
    </div>
  <div class="two">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" [(ngModel)]="cerca" placeholder="Genere" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button type="button" class="btn btn-primary" (click)="search()">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </form>

  </div>
    <div class="tree">
      <div *ngIf="!loggato; else logoutButton">
        <app-login></app-login>
      </div>
      <ng-template #logoutButton >
        <div class="logout">
          <span id="name"> Ciao {{name}} </span>
        <button class="btn btn-primary" (click)="logout()">Log out</button>
        </div>
      </ng-template></div>


</div>

