<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="portale/home"><img src="../../../assets/immagini/logo.png" id="logo_navbar"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <app-menu></app-menu>
   
    <app-login></app-login>
  
    <button class="btn btn-primary" (click)="logout()">Log out</button>
</nav>

