
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="list-item">
      <mat-list *ngFor="let item of gameList" [routerLink]="['game-detail',item.id]" routerLinkActive="active">
        <span>{{item.title}} </span>
        <mat-divider></mat-divider>
      </mat-list>
    </ul>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Espandi
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" class="button-return" mat-button (click)="drawer.toggle()">
      Lista Giochi
    </button>
    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>


<!--(activate)='onActivate($event)'-->
