
<div class="container">
    <form (ngSubmit)="registrazione()" #registrazioneForm="ngForm">
    <p>Registrazione</p>
      <div class="form-group">
        <label for="name">Name </label>
        <input type="text" id="name" required [(ngModel)]="name" name="name" class="form-control" #nameVar="ngModel">
        <p [hidden]="nameVar.valid || nameVar.pristine" class="dangerInput">*Nome richiesto</p>​
        <label for="email">Email </label>
        <input type="email" id="email" required [(ngModel)]="email" name="email" class="form-control" #emailVar="ngModel">
        <p [hidden]="emailVar.valid || emailVar.pristine" class="dangerInput">*Email richiesto</p>​
        <label for="password">Password </label>
        <input type="password" id="password" required [(ngModel)]="password" name="password" class="form-control" #passwordVar="ngModel">
        <p [hidden]="passwordVar.valid || passwordVar.pristine" class="dangerInput">*Password richiesto</p>​
      </div>
      <button type="submit" [disabled]="!registrazioneForm.form.valid" class="btn btn-primary">Registrati</button>
      <button type="button" class="btn btn-secondary" (click)="registrazioneForm.reset()">Reset</button>​
    </form>

<div>
    Nome: {{name}}
    Email: {{email}}
    Password: {{password}}
</div>
</div>